:root {
    --black-color: #212529;
    --red-color: #FE5C46;
    --yellow-color: #FED561;
    --blue-color: #1EABCC;
    --orange-color: #FE7120;
    --grey-color: #808080;
    --white-color: #fff;
    --smoke-color: #E6E6E9;
    --font-family: "Luckiest Guy", sans-serif;
}